<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1OL6vuTfaLYE4h0QlRrFkMJVg-F6PoTc</string>
	<key>GCM_SENDER_ID</key>
	<string>695463804507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ifridge</string>
	<key>PROJECT_ID</key>
	<string>fridge-b6fda</string>
	<key>STORAGE_BUCKET</key>
	<string>fridge-b6fda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695463804507:ios:9ef1ede5c9e6d570d7097e</string>
</dict>
</plist>